*{
    padding: 0px;
    margin: 0px;
}
#main{
    overflow: auto;
    text-align: center;
}

a{
    text-decoration: none;
    display: inline-block;
    height: 50px;
    width: 150px;
    color: black;
    background-color: #f1f1f1;
    line-height: 40px;
}
ul{
    list-style: none;
}

#list{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}

#list>li{
    float: left;
}

#list>li>ul{
    display: none;
    position: absolute;
}

#list>li:hover ul{
    display: block;
}

a:hover {
    background-color: #555;
    color: white;
}