*{
    padding: 0px;
    margin: 0px;
}
#main{
    overflow: auto;
    text-align: center;
}

a{
    text-decoration: none;
    display: inline-block;
    height: 50px;
    width: 150px;
    color: black;
    background-color: #f1f1f1;
    line-height: 40px;
}
ul{
    list-style: none;
}

#list{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}

#list>li{
    float: left;
}

#list>li>ul{
    display: none;
    position: absolute;
}

#list>li:hover ul{
    display: block;
}

a:hover {
    background-color: #555;
    color: white;
}





.container{
    display: flex;
    /*justify-content: space-around;*/
    justify-content: left;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    /*gap: 1rem;*/
    margin: auto;
    max-width: 1200px;
    padding: 2rem;
}
.flex-item {
    background-color: white;
    width: 32%;
    height: auto;
    margin: 5px;
    border-radius:15px;
}
.introduction{
    background-color: #7A57D1;
    height: 50%;
    margin: 0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    padding-right: 10px;
    padding-left: 10px;
    word-break:break-all;
    overflow:hidden;
    border-radius:15px;
}
p{
    text-indent: 2em;
}
.head-picture{
    background-color: white;
    /*width: 100%;*/
    /*height: 50%;*/
    margin: 0px;
    /*水平居中*/
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px;
}
img{
    width:50%;
    height: 50%;
    object-fit: cover;
    object-position: top;/*取得位置*/
    border-radius: 50%;
}